.textWrapper {
  padding: 0;
}

.primary {
  .title {
    color: var(--primary-text);
  }

  .text {
    color: var(--secondary-text);
  }
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sizeM {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.sizeM {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.sizeL {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
