.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}

.clear {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  background: none;
  color: var(--primary-color);
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.square {
  margin: 0;
}

.square.sizeM {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.sizeL {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.sizeXl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.sizeM {
  font: var(--font-m);
}
.sizeL {
  font: var(--font-l);
}
.sizeXl {
  font: var(--font-xl);
}
