.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  transition: width 0.5s;
  position: relative;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.link {
  margin-left: 10px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
}
