.link {
  margin-left: 10px;
}

.sidebarItem {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}
