.inputWrapper {
  display: flex;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;

  &:focus {
    outline: none;
  }
}

.input.primary {
  text-shadow: 0 0 0 var(--primary-color);
}

.input.inverted {
  text-shadow: 0 0 0 var(--inverted-primary-color);
}

.readOnly {
  opacity: 0.7;
  cursor: default;
}

.placeholder {
  margin-right: 5px;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  height: 3px;
  width: 9px;

  bottom: 0;
  left: 0;
  position: absolute;
  animation: blink 1s forwards infinite;
}

.caret.primary {
  background: var(--primary-color);
}

.caret.inverted {
  background: var(--inverted-primary-color);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}
