.app.dark {
  --bg-color: #09094b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0735c1;
  --inverted-secondary-color: #054eec;
}
