.app_dark_theme {
  --bg-color: #1f1f41;
  --inverted-bg-color: #c7c7c7;

  --primary-color: #9ea8c2;
  --secondary-color: #b9c5e2;
  --inverted-primary-color: #40444f;
  --inverted-secondary-color: #6b7285;

  //skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  --code-background: #404086;
}
