.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #09094b;

  --primary-color: #0735c1;
  --secondary-color: #054eec;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
