.app_light_theme {
  --bg-color: #e6e6e6;
  --inverted-bg-color: #1f1f41;

  --primary-color: #40444f;
  --secondary-color: #6b7285;
  --inverted-primary-color: #9ea8c2;
  --inverted-secondary-color: #b9c5e2;
}
