.appLink {
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.primary {
  color: var(--primary-color);
}

.inverted {
  color: var(--inverted-primary-color);
}
